<h2>Edit</h2>

<p>{{movie.title}}</p>

<p>{{celebs.name}}</p>

<form action="/movies/{{movie.id}}" method="post">
<input type="text" placeholder="title" name="title" value="{{movie.title}}">
<input type="text" placeholder="plot" name="plot" value="{{movie.plot}}">
<input type="text" placeholder="genre" name="genre" value="{{movie.genre}}">
<select name="cast" multiple>
    {{#each celebrities}}
      <option value="{{this._id}}"
        {{#if movie.cast.includes this._id}} selected{{/if}}>
        {{this.name}}
      </option>
    {{/each}}
  </select>
  <button type="submit">Edit</button>
</form>